# fastapi
# uvicorn[standard]
# pydantic
# python-multipart
# celery
# redis
# flower
# pydantic
# python-dotenv
# celery
# torch
# numpy
numpy>=1.21.1,<1.25
pandas
scikit-learn
scikit-image==0.21.0
torch
torchvision
imagecodecs
geopandas
colour-science
shapely
openslide-python
opencv-python-headless
opencv-contrib-python-headless
Pillow
matplotlib
seaborn
tifffile
multiprocess
patchify
pyjwt
wandb
fastapi
uvicorn[standard]
pydantic
python-multipart
celery
redis
flower
python-dotenv
tqdm
sqlalchemy
psycopg2-binary
